#main-header {
  max-width: var(--content-width);
  margin: 0 auto;
  padding-top: 20px;
  user-select: none;
  height: 35px;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  justify-content: space-between;
  align-items: center;

  .brand {
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 2rem;

    span {
      cursor: pointer;
      &:hover {
        color: var(--neon-purple-3);
      }
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 5px;

    .btn {
      cursor: pointer;
      display: flex;
      padding: 5px;
      border: 1px solid transparent;
      border-radius: 10px;

      &:hover {
        border-color: var(--text);
        background-color: var(--background-contrast);;
      }
    }
  }
}