---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

const t = useTranslations(getLangFromUrl(Astro.url));
---

<Layout title={t("nav.contact")}>
  <h3 class="text-base text-text/90 font-bold mt-5 px-4 md:px-0">{t("contact.text")}</h3> 
</Layout>
