---
import EmptyBox from "../../../components/Icons/EmptyBox.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import Layout from "../../../layouts/Layout.astro";

export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = Object.values(import.meta.glob("../../../posts/*.md", { eager: true }));
---

<Layout title={t("nav.blog")}>
  { posts.length === 0 &&
    <div class="mx-auto w-fit mt-10">
      <EmptyBox width={64} height={64} />
    </div>

    <h2 class="text-xl font-semibold font-amulya mt-2 text-center">
      {t("blog.empty")}
    </h2>
  }
</Layout>
